{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{# <head> #}
{% block title %}Better Know{% endblock %}

{% block stylesheets %} 
    {{ parent()}} 
    <link rel="stylesheet" href="{{ asset('css/styleDashboard.css') }}" />
{% endblock %}

{%  block javascripts_head %} {{ parent()}} {% endblock %}
{# </head> #}

{# <body> #}
{% block avanzu_logo %}
    {{ parent() }}
{% endblock %}

{% block avanzu_navbar %}
    {{ parent() }}
{% endblock %}

{% block avanzu_admin_footer %} 
    <footer class="main-footer footer">
        <div class="pull-right hidden-xs">
            <p class="copyright">Version 1.0 </p>
        </div>
        <p class="copyright">&copy; 2017 - Better Know - All rights reserved.  </p>
    </footer>
{% endblock %}
{# </body> #}